{% extends "admin/app_index.html" %}
{% load i18n %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
  {% for app in app_list %}
  <div class="module">
    <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
    <caption><a href="{{ app.app_url }}" class="section">{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</a></caption>
    {% for model in app.models %}
      <tr>
      {% if model.perms.change %}
        <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
      {% else %}
        <th scope="row">{{ model.name }}</th>
      {% endif %}

      {% if model.perms.add %}
        <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
      {% else %}
        <td>&nbsp;</td>
      {% endif %}

      {% if model.perms.change %}
        <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
      {% else %}
        <td>&nbsp;</td>
      {% endif %}
      </tr>
    {% endfor %}
    </table>
  </div>
  {% endfor %}
  <style>
    .view-result {
      padding-left: 16px;
      background: url(/static/images/magnifier.png) no-repeat;
    }
    .calculator {
      padding-left: 16px;
      background: url(/static/images/calculator-gray.png) no-repeat;
    }
    .background-cover-top {
      background: #000;
      position: absolute;
      left: 0;
      top: 0;
      display: none;
      overflow: hidden;
      z-index: 125;
    }
    .hidden {
        display: none;
    }
    .bold-left {
        font-weight: bold;
        text-align: left;
    }
    .bold-right {
        font-weight: bold;
        text-align: right;
    }
    .bold-center {
        color: green;
        font-weight: bold;
        text-align: center;
    }
  </style>
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/javascript" src="/static/js/husky-hustle.js"></script>
  <div class="background-cover-top"></div>
  <div class="module">
    <table summary="Graph Results.">
    <caption><a href="/admin/results/" class="section">Graph Results</a></caption>
      <tr>
        <th scope="row"><a href="/admin/results/totals-by-grade">Totals By Grade</a></th>
        <td>&nbsp;</td>
        <td><a href="/admin/results/totals-by-grade" class="view-result">View</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="/admin/results/most-laps-by-grade">Total Laps By Grade</a></th>
        <td>&nbsp;</td>
        <td><a href="/admin/results/most-laps-by-grade" class="view-result">View</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="/admin/results/most-laps-by-grade-avg">Total Laps By Grade (Avg)</a></th>
        <td>&nbsp;</td>
        <td><a href="/admin/results/most-laps-by-grade-avg" class="view-result">View</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="/admin/results/most-laps-by-student-by-grade">Most Laps By Student By Grade</a></th>
        <td>&nbsp;</td>
        <td><a href="/admin/results/most-laps-by-student-by-grade" class="view-result">View</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="/admin/results/most-laps-by-student-by-grade-boys">Most Laps By Student By Grade (Boys)</a></th>
        <td>&nbsp;</td>
        <td><a href="/admin/results/most-laps-by-student-by-grade-boys" class="view-result">View</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="/admin/results/most-laps-by-student-by-grade-girls">Most Laps By Student By Grade (Girls)</a></th>
        <td>&nbsp;</td>
        <td><a href="/admin/results/most-laps-by-student-by-grade-girls" class="view-result">View</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="/admin/results/most-donations-by-grade">Total Donations By Grade</a></th>
        <td>&nbsp;</td>
        <td><a href="/admin/results/most-donations-by-grade" class="view-result">View</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="/admin/results/most-donations-by-grade-avg">Total Donations By Grade (Avg)</a></th>
        <td>&nbsp;</td>
        <td><a href="/admin/results/most-donations-by-grade-avg" class="view-result">View</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="/admin/results/most-donations-by-student-by-grade">Most Donations By Student By Grade</a></th>
        <td>&nbsp;</td>
        <td><a href="/admin/results/most-donations-by-student-by-grade" class="view-result">View</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="/admin/results/most-donations-by-student">Most Donations By Student</a></th>
        <td>&nbsp;</td>
        <td><a href="/admin/results/most-donations-by-student" class="view-result">View</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="/admin/results/most-donations-by-student-pledged">Most Pledges By Student</a></th>
        <td>&nbsp;</td>
        <td><a href="/admin/results/most-donations-by-student-pledged" class="view-result">View</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="/admin/results/most-donations-by-day">Total Donations By Day For Last 10 Days</a></th>
        <td>&nbsp;</td>
        <td><a href="/admin/results/most-donations-by-day" class="view-result">View</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="/admin/results/most-donations-by-day-by-sponsor">Total Donations By Day By Sponsor For Last 10 Days</a></th>
        <td>&nbsp;</td>
        <td><a href="/admin/results/most-donations-by-day-by-sponsor" class="view-result">View</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="/admin/results/donations-by-teacher">Total Donations By Teacher</a></th>
        <td>&nbsp;</td>
        <td><a href="/admin/results/donations-by-teacher" class="view-result">View</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="/admin/results/show-unpaid-donations">Show Unpaid Results</a></th>
        <td>&nbsp;</td>
        <td><a href="/admin/results/show-unpaid-donations" class="view-result">View</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="/admin/results/verify-paypal-donations">Verify PayPal Donations</a></th>
        <td>&nbsp;</td>
        <td><a href="/admin/results/verify-paypal-donations" class="view-result">View</a></td>
      </tr>
      <tr>
        <td colspan="3" class="bold-center">&nbsp;<span id="message">&nbsp;</span></td>
      </tr>
      <tr>
        <th scope="row"><a href="#" action="/admin/both/calculate_totals" name="calculate_result_totals" message="Finished!!!" class="run-calculations">Run Calculations for Results</a></th>
        <td><img id="calculate_result_totals_loader" class="hidden loading" src="/static/images/loading.gif" /></td>
        <td><a href="#" action="/admin/both/calculate_totals" name="calculate_result_totals" message="Finished!!!" class="run-calculations calculator">Run</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="#" action="/admin/donation/calculate_totals" name="calculate_donation_totals" message="Finished!!!" class="run-calculations">Run Calculations for Donations</a></th>
        <td><img id="calculate_donation_totals_loader" class="hidden loading" src="/static/images/loading.gif" /></td>
        <td><a href="#" action="/admin/donation/calculate_totals" name="calculate_donation_totals" message="Finished!!!" class="run-calculations calculator">Run</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="#" action="/admin/studentren/calculate_totals" name="calculate_student_totals" message="Finished!!!" class="run-calculations">Run Calculations for Students</a></th>
        <td><img id="calculate_student_totals_loader" class="hidden loading" src="/static/images/loading.gif" /></td>
        <td><a href="#" action="/admin/students/calculate_totals" name="calculate_student_totals" message="Finished!!!" class="run-calculations calculator">Run</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="#" action="/admin/send_teacher_reports" name="run_teacher_report_emails" message="Finished!!!" class="run-calculations">Run Teacher Report Emails</a></th>
        <td><img id="run_teacher_report_emails_loader" class="hidden loading" src="/static/images/loading.gif" /></td>
        <td><a href="#" action="/admin/send_teacher_reports" name="run_teacher_report_emails" message="Finished!!!" class="run-calculations calculator">Run</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="#" class="show-form" name="send_unpaid_reminders">Send Unpaid Reminders</a></th>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr style="display: none;" id="send_unpaid_reminders">
        <td colspan="3" class="bold-right">
          <form id="send_unpaid_reminders" action="#" method="GET">
            <img id="send_unpaid_reminders_loader" class="hidden" src="/static/images/loading.gif" />
            <input type="text" id="donation_id" name="donation_id" value="" size="10" placeholder="Donation ID" />
            <select name="type" id="type">
              <option value="both">both</option>
              <option value="per_lap">per_lap</option>
              <option value="flat">flat</option>
            </select>
            <select name="grade" id="grade">
              <option value="all">All</option>
              {% for grade in grades %}
              <option value="{{ grade.id }}">{{ grade.title }}</option>
              {% endfor %}
            </select>
            <input type="submit" class="submit-form" name="send_unpaid_reminders" value=" Send > " />
          </form>
        </td>
      </tr>
    </table>
  </div>
  <div class="module">
    <table summary="Donation Results.">
    <caption>Donation Results</caption>
      <tr>
        <th scope="row" class="bold-left">Grand Total Pledged</th>
        <td>&nbsp;</td>
        <td class="bold-right">${{ grand_pledged.donated }}</td>
      </tr>
      <tr>
        <th scope="row" class="bold-left">Grand Total Collected</th>
        <td>&nbsp;</td>
        <td class="bold-right">${{ grand_donated.donated }}</td>
      </tr>
      <tr>
        <th scope="row" class="bold-left">Total Collected Online</th>
        <td>&nbsp;</td>
        <td class="bold-right">${{ online_collected.donated }}</td>
      </tr>
      <tr>
        <th scope="row" class="bold-left">Total Colected Offline</th>
        <td>&nbsp;</td>
        <td class="bold-right">${{ monies_collected.donated }}</td>
      </tr>
    </table>
  </div>
  <script type="text/javascript">
    $(document).ready(
      function () {
        var showOverlay = function (name) {
          $('#'+name+'_loader').show();
          clearMessage();
          return false;
        };
        var hideOverlay = function (name) {
          $('#'+name+'_loader').hide();
          return false;
        };
        var showMessage = function (message) {
            $('#message').show();
            $('#message').html(message);
        };
        var clearMessage = function () {
            $('#message').hide();
            $('#message').html("");
        };
        var showForm = function () {
          $('#'+$(this).attr('name')).toggle();
        };
        var processRequests = function (event, name, action, message) {
          if (!name) name = $(this).attr('name');
          if (!message) message = $(this).attr('message');
          if (!action) action = $(this).attr('action');
          showOverlay(name);
          $.ajax(
            {
              url: action,
              type: 'get',
              dataType: 'json',
              timeout: 30000000,
              success: function (results) {
                showMessage(message);
                hideOverlay(name);
                if (name === 'send_unpaid_reminders') {
                  window.location.reload();
                }
              },
              error: function (xhr, stat, err) {
                hideOverlay(name);
                if (stat == 'timeout') {
                  alert('Timed out, try smaller set!');
                } else {
                  alert('Failed! ' + err);
                }
              }
            }
          );
          return false;
        };
        var submitForm = function (event, donation_id, type, grade) {
          var name = $(this).attr('name');
          if (!donation_id) donation_id = $('#donation_id').val() || 0;
          if (!type) type = $('#type :selected').val();
          if (!grade) grade = $('#grade :selected').val();
          var action = ['/admin/send_unpaid_reminders', type, donation_id, grade].join('/');
          showOverlay(name);
          processRequests(event, name, action);
          return false;
        };
        $('.run-calculations').bind('click', processRequests);
        $('.show-form').bind('click', showForm);
        $('.submit-form').bind('click', submitForm);
      }
    );
  </script>
{% else %}
  <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
  <div class="module" id="recent-actions-module">
    <h2>{% trans 'Recent Actions' %}</h2>
    <h3>{% trans 'My Actions' %}</h3>
      {% load log %}
      {% get_admin_log 10 as admin_log for_user user %}
      {% if not admin_log %}
      <p>{% trans 'None available' %}</p>
      {% else %}
      <ul class="actionlist">
      {% for entry in admin_log %}
      <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
        {% if entry.is_deletion %}
          {{ entry.object_repr }}
        {% else %}
          <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
        {% endif %}
        <br/>
        {% if entry.content_type %}
          <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
        {% else %}
          <span class="mini quiet">{% trans 'Unknown content' %}</span>
        {% endif %}
      </li>
      {% endfor %}
      </ul>
      {% endif %}
  </div>
</div>
{% endblock %}
