{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}

{% block submit_buttons_bottom %}
{% submit_row %}
{{ teachers }}
<script type="text/javascript">
    (function($) {
    if ( $('#id_identifier') ) {
        $('#id_identifier').bind('focus', function (event) {
            var reg = new RegExp( '\\((\\d+)\\)' );
            var match = $('#id_teacher :selected').text().match(reg);
            var identifier = [$('#id_first_name').val(), $('#id_last_name').val(), match[1]].join('-');
            identifier = identifier.toLowerCase();
            identifier = identifier.replace(/^\s+|\s+$/g,'');
            identifier = identifier.replace(/\s+/g, '-');
            identifier = identifier.replace(/-+/g, '-');
            $('#id_identifier').val(identifier);
        });
    }
    if ( $('#id_student') ) {
        $('#id_student').bind('change', function (event) {
            var selected = $('#id_student :selected').text();
            var group = selected.split(';');
            var name = group[0].split(', ');
            $('#id_first_name').val(name[1]);
            $('#id_last_name').val(name[0]);
        });
        $('#id_type').bind('change', function (event) {
            var selected, match, name, group, reg;
            selected = $('#id_type :selected').val();
            if (selected === '1') {
                reg = new RegExp( '\\w+-\\w+-(\\d+)' );
                match = $('#id_student :selected').text().match(reg);
                name = $('#'+match[1]).text();
                name = name.replace(/\s+/g, ' ');
                $('#id_first_name').val(name);
                $('#id_per_lap').attr('checked', false);
                $('#id_last_name').val('teacher');
                $('#id_email_address').val('_teacher_@huskyhustle.com');
            } else if (selected === '2') {
                $('#id_per_lap').attr('checked', false);
                $('#id_first_name').val('Mrs. Agopian');
                $('#id_last_name').val('principal');
                $('#id_email_address').val('_principal_@huskyhustle.com');
            } else {
                selected = $('#id_student :selected').text();
                group = selected.split(';');
                name = group[0].split(', ');
                $('#id_first_name').val(name[1]);
                $('#id_last_name').val(name[0]);
                if ($('#id_email_address').val().match(/^_/)) $('#id_email_address').val('_sponsor_@huskyhustle.com');
            }
        });
    }
    })(django.jQuery);
</script>
{% endblock %}