<div class="panel panel-default">
  <div class="panel-heading"><strong>Make a Pledge to: {{ student.full_name }}</strong></div>
  <div class="panel-body">
    <form action="/donate{% if student %}/{{ student.identifier }}{% else %}-direct{% endif %}" method="post" id="student_search_form" class="form-horizontal" role="form">
      {% if make_donation %}<input type="hidden" name="make_donation" value="1" />{% endif %}
      {% if from_account %}<input type="hidden" name="from_account" value="1" />{% endif %}
      {% csrf_token %}

      <div class="form-group">
        <label class="col-sm-3 control-label" for="form_id_first_name"{% if form.first_name.errors %} class="error"{% endif %}>First Name:</label>
        <div class="col-sm-4">
          <input id="form_id_first_name" type="text" name="first_name" value="{{ form.first_name.value }}" class="form-control required" placeholder="First Name" />{% if form.first_name.errors %}<span class="pad-left10 error">* required</span>{% endif %}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="form_id_last_name"{% if form.last_name.errors %} class="error"{% endif %}>Last Name:</label>
        <div class="col-sm-4">
          <input id="form_id_last_name" type="text" name="last_name" value="{{ form.student_last_name.value }}" class="form-control required" placeholder="Last Name" />{% if form.last_name.errors %}<span class="pad-left10 error">* required</span>{% endif %}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="form_id_email_address"{% if form.email_address.errors %} class="error"{% endif %}>Email Address:</label>
        <div class="col-sm-4">
          <input id="form_id_email_address" type="text" name="email_address" value="{{ form.email_address.value }}" class="form-control required" placeholder="email@examples.com" />{% if form.email_address.errors %}<span class="pad-left10 error">* required</span>{% endif %}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="form_id_phone_number"{% if form.phone_number.errors %} class="error"{% endif %}>Phone Number:</label>
        <div class="col-sm-4">
          <input id="form_id_phone_number" type="text" name="phone_number" value="{{ form.phone_number.value }}" class="form-control required" placeholder="(123) 456-7890" />{% if form.phone_number.errors %}<span class="pad-left10 error">* required</span>{% endif %}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="form_id_donation"{% if form.donation.errors %} class="error"{% endif %}>Donation:</label>
        <div class="col-sm-4">
          <input id="form_id_donation" type="text" name="donation" value="{{ form.donation.value }}" class="form-control required" placeholder="0.00" />{% if form.donation.errors %}<span class="pad-left10 error">* required</span>{% endif %}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="form_id_per_lap"{% if form.per_lap.errors %} class="error"{% endif %}>&nbsp;</label>
        <div class="col-sm-4">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-info">
              <input type="radio" name="per_lap" id="per_lap_1" value="1"> Per Lap
            </label>
            <label class="btn btn-info">
              <input type="radio" name="per_lap" id="per_lap_2" value="0"> Flat
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-8">
          <input type="submit" class="btn btn-primary submit_form pull-right" id="submit_donation" value=" Submit Pledge " data-loading-text=" Submitting... " />
        </div>
      </div>
    </form>
  </div>
</div>
