<div class="modal fade" id="modal-box-invite" tabindex="-1" role="dialog" aria-labelledby="inviteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="invite_form" action="/emails?format=ajax" method="POST" role="form">
        {% csrf_token %}
        <input type="hidden" id="student_first_name" name="student_first_name" value="{{ student.first_name }}">
        <input type="hidden" id="is_modal" name="is_modal" value="modal-box-invite">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="donation_title">Send Email to Family/Friends of {% firstof student_name student.full_name %}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="email_addresses" id="email_addresses_label">Email Addresses</label><br />
            <div class="col-medium-12">
              <input type="text" class="form-control" id="email_addresses" name="email_addresses" value="" placeholder="email@example.com, email@example.com" />
            </div>
          </div>
          <div class="form-group">
            <label for="custom_message" id="custom_message_label">Custom Message</label><br />
            <div class="col-medium-12">
              <textarea class="form-control" id="custom_message" name="custom_message" rows="15">Dear Friends and Family,

Please help support {{ student.full_name }} in this year's Husky Hustle Jog-A-Thon.  Our goal is to reach $80,000 to raise money for Hicks Canyon Elementary School.  Last year we were able to raise over $60,000 and we're hoping this year will be even better.

Thank you for your support,

{{ student.full_name }}

You can use the following url to donate directly to {{ student.first_name }}:

{{ student.donate_url }}
              </textarea>
            </div>
          </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_invite">Close</button>
          <button type="submit" class="btn btn-primary submit-form" id="submit_invite" data-loading-text=" Searching... ">Send Invite</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
