<div class="navbar-custom navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Husky Hustle</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li{% if path == '/' %} class="active"{% endif %}><a href="/">Home</a></li>
        <li{% if 'donat' in path %} class="active"{% endif %}><a href="/student-donation/search">Donate</a></li>
        <li{% if 'results' in path and user.is_superuser %} class="active"{% endif %}><a href="/results">Results</a></li>
        <li{% if 'photos' in path %} class="active"{% endif %}><a href="/nav/photos">Photos</a></li>
        <li{% if 'blog' in path %} class="active"{% endif %}><a href="/nav/blog">Blog</a></li>
        <li{% if 'links' in path %} class="active"{% endif %}><a href="/nav/links">Links</a></li>
        <li{% if 'contact' in path %} class="active"{% endif %}><a href="/nav/contact">Contact</a></li>
        <!--li{% if 'profile' in path %} class="active"{% endif %}><a href="/account/profile">Profile</a></li-->
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->
