<title>Hicks Canyon: Husky Hustle: {{ page_title }}</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Hicks Canyon Jog-A-Thon Husky Hustle" />
<meta name="keywords" content="cicks canyon jog-a-thon husky hustle elementary" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans" type="text/css" />
<link rel="stylesheet" href="/static/css/husky-hustle.css" type="text/css" media="screen, projection" charset="utf-8" />
