{% load custom_filters %}
{% if students %}
{% include "include/search-form-results.html" %}
{% endif %}
{% if form.non_field_errors %}
<div class="alert alert-danger">{{ form.non_field_errors }}</dib>
{% endif %}
<div class="panel panel-default">
  <div class="panel-heading"><strong>Search for a Student</strong></div>
  <div class="panel-body">
    <form action="/student-donation/search" method="GET" id="student_search_form" class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-3 control-label" for="student_first_name"{% if form.student_first_name.errors %} class="error"{% endif %}>By First Name:</label>
        <div class="col-sm-3">
          <input id="student_first_name" type="text" name="student_first_name" value="{{ form.student_first_name.value }}" class="form-control required" placeholder="First Name" />{% if form.student_first_name.errors %}<span class="pad-left10 error">* required</span>{% endif %}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="student_last_name"{% if form.student_last_name.errors %} class="error"{% endif %}>By Last Name:</label>
        <div class="col-sm-3">
          <input id="student_last_name" type="text" name="student_last_name" value="{{ form.student_last_name.value }}" class="form-control required" placeholder="Last Name" />{% if form.student_last_name.errors %}<span class="pad-left10 error">* required</span>{% endif %}
        </div>
        <div class="col-sm-2">
          <input type="submit" class="btn btn-primary pull-right" id="submit_student_search" value=" Search " data-loading-text=" Searching... " />
        </div>
      </div>
    </form>
    <div class="clearfix">&nbsp;</div>
    <form action="/student-donation/search" method="GET" id="teacher_search_form" class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-3 control-label" for="teacher_last_name"{% if form.teacher_last_name.errors %} class="error"{% endif %}>Or Teacher Name:</label>
        <div class="col-sm-3">
          <input id="teacher_last_name" type="text" name="teacher_last_name" value="{{ form.teacher_last_name.value }}" class="form-control required" placeholder="Last Name" />{% if form.teacher_last_name.errors %}<span class="pad-left10 error">* required</span>{% endif %}
        </div>
        <div class="col-sm-2">
          <input type="submit" class="btn btn-primary pull-right" id="submit_teacher_search" value=" Search " data-loading-text=" Searching... " />
        </div>
      </div>
    </form>
  </div>
</div>
