{% load custom_filters %}
{% if students %}
<span>Your search for <strong>"{{ search|safe }}"</strong> found <strong>{{ students|length }}</strong> results:</span>
<table class="table table-hover table-striped">
  <tr>
    <th>Student</th><th>Teacher</th><th>&nbsp;</th>
  </tr>
  {% for student in students %}
  <tr>
    <td><a href="{{ student.donate_url }}" id="student-{{ student.identifier }}">{{ student.full_name }}</a> ({{ student.teacher.grade }})</td>
    <td>{{ student.teacher.full_name }} ({{ student.teacher.room_number }})</td>
    <td>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Selection <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{{ student.donate_url }}" class="make-donation" title="Use this option if you want to make a pledge to this student">Make a Pledge</a></li>
          <li><a href="#"><a href="#" class="make-payment" id="{{ student.identifier }}" action="{{ student.payment_url }}" data-toggle="modal" data-target="#modal-box-donation" title="Use this option if you need to make a payment for pledge you've already made.">Make a Payment</a></a></li>
          <li><a href="/teacher-donation/{{ student.identifier }}">Donate to a Teacher</a></li>
        </ul>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
<div class="modal fade" id="modal-box-donation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="donation_form" action="/make-payment" method="GET" class="form-horizontal" role="form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="donation_title">Make a Payment to {student_name}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="donation_amount"{% if form.donation_amount.errors %} class="error"{% endif %}>Payment Amount:</label>
            <div class="col-sm-6">
              <input type="hidden" id="donation_id" name="id" value="">
              <input type="text" class="form-control" id="donation_amount" name="amount" value="" placeholder="0.00" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="donation_email"{% if form.donation_email.errors %} class="error"{% endif %}>Email Address:</label>
            <div class="col-sm-6">
              <input type="hidden" id="donation_id" name="id" value="">
              <input type="text" class="form-control" id="donation_email" name="email" value="" placeholder="example@email.com" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary make-donation" id="submit_donation">Donate</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
<div class="clearfix">&nbsp;</div>
{% if form.non_field_errors %}
<div class="alert alert-warning">{{ form.non_field_errors }}</dib>
{% endif %}

<div class="panel panel-default">
  <div class="panel-heading"><strong>Search for a Student</strong></div>
  <div class="panel-body">
    <form action="/student-donation/search" method="GET" id="student_search_form" class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-3 control-label" for="student_first_name"{% if form.student_first_name.errors %} class="error"{% endif %}>By First Name:</label>
        <div class="col-sm-3">
          <input id="student_first_name" type="text" name="student_first_name" value="{{ form.student_first_name.value }}" class="form-control required" placeholder="First Name" />{% if form.student_first_name.errors %}<span class="pad-left10 error">* required</span>{% endif %}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="student_last_name"{% if form.student_last_name.errors %} class="error"{% endif %}>By Last Name:</label>
        <div class="col-sm-3">
          <input id="student_last_name" type="text" name="student_last_name" value="{{ form.student_last_name.value }}" class="form-control required" placeholder="Last Name" />{% if form.student_last_name.errors %}<span class="pad-left10 error">* required</span>{% endif %}
        </div>
        <div class="col-sm-2">
          <input type="submit" class="btn btn-primary pull-right" id="submit_student_search" value=" Search " data-loading-text=" Searching... " />
        </div>
      </div>
    </form>
    <div class="clearfix">&nbsp;</div>
    <form action="/student-donation/search" method="GET" id="teacher_search_form" class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-3 control-label" for="teacher_last_name"{% if form.teacher_last_name.errors %} class="error"{% endif %}>Or Teacher Name:</label>
        <div class="col-sm-3">
          <input id="teacher_last_name" type="text" name="teacher_last_name" value="{{ form.teacher_last_name.value }}" class="form-control required" placeholder="Last Name" />{% if form.teacher_last_name.errors %}<span class="pad-left10 error">* required</span>{% endif %}
        </div>
        <div class="col-sm-2">
          <input type="submit" class="btn btn-primary pull-right" id="submit_teacher_search" value=" Search " data-loading-text=" Searching... " />
        </div>
      </div>
    </form>
  </div>
</div>
