{% extends "base.html" %}
{% block content %}
  <div class="col-xs-12 col-sm-9 col-lg-10">
    <h2>Make a Donation</h2>
    <div class="row box-shadow">
      <div class="col-lg-12">

        <ul class="messages"></ul>
        {% if messages %}
        <div class="alert alert-{% if error %}danger{% else %}success{% endif %}">
          <ul>
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></li>
          {% endfor %}
          {% if success %}
            {% if is_per_lap %}
            <li>You will be notified via email at a later date on how to make your payment.</li>
            {% else %}
            <li>
              <p>
                If you would like to make another donation and make one final payment.  You can use the link below when you are ready:
                <h4 class="text-center"><a href="/make-payment/{{ student.identifier }}?sponsor={{ email_address }}">Make Final Payment</a></h4>
              </p>
            </li>
            <li>
              {% include "include/encrypted-paypal-button.html" %}
            </li>
            {% endif %}
          {% endif %}
          </ul>
        </div>
        {% endif %}
        {% if make_donation %}
          {% if not error %}
            {% if search %}
            {% include "include/search-form.html" %}
            {% elif teacher_donation %}
            {% include "include/donation-form-teachers.html" %}
            {% else %}
            {% include "include/donation-form.html" %}
            {% include "include/search-form.html" %}
            <h3><a href="/teacher-donation/{{ student.identifier }}">Make a Donation to the Student's Teacher</a></h3>
            {% endif %}
          {% else %}
            {% include "include/search-form.html" %}
            <br class="clearfix" />
            <div class="panel panel-default">
              <div class="panel-heading"><strong>Make a Donation Directly</strong></div>
              <div class="panel-body">
                <a href="/student-donation/">Make a Donation to a Student</a><br />
                <a href="/teacher-donation/">Make a Donation to a Teacher</a>
              </div>
            </div>
          {% endif %}
        {% elif form and not error %}
        {% include "include/what-to-do-next.html" %}
        {% else %}
        {% include "include/donation-form.html" %}
        <h4><a href="/teacher-donation/{{ student.identifier }}">Make a Donation to the Student's Teacher</a></h4>
        {% endif %}

      </div><!--/col-->
    </div><!--/row-->
  </div><!--/span-->

  {% include "include/email-family-friends.html" %}
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
{% endblock %}
