{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
  <!-- Jumbotron -->
  {% if messages %}
  <div class="jumbotron">
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div class="col-xs-12 col-sm-9 col-lg-10">
    <!--p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p-->
    <div class="jumbotron" style="margin-top: 25px;">
      {{ jumbotron.content|safe }}
    </div>
    <div class="row box-shadow">
      <div class="col-lg-12">
      {{ content.content|safe }}
      </div><!--/span-->
      <div class="col-lg-6">
        <div class="panel panel-danger" style="min-height: 225px;">
          <div class="panel-heading"><strong>Message of the Week</strong></div>
            <div class="panel-body">
                <div class="title">{{ motd.title }}</div>
                <div class="content">{{ motd.content|safe }}</div>
                <div class="author">by {{ motd.author }} on {{ motd.date_added }}</div>
            <div class="clearfix">&nbsp;</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-danger" style="min-height: 225px;">
          <div class="panel-heading"><strong>Dates to Remember</strong></div>
            <div class="panel-body">
            {% for entry in calendar.entry %}
            <p style="font-size: 0.85em;"><a href="{{ entry.link.0.href }}">{{ entry.title.text }} on {{ entry.when.0.start|date_format }}</a></p>
            {% endfor %}
            <div class="clearfix">&nbsp;</div>
          </div>
        </div>
      </div>
    </div><!--/row-->
  </div><!--/span-->
{% endblock %}
