{% extends 'base.html' %}
{% load humanize %}
{% load custom_filters %}

{% block content %}
  <div class="col-xs-12 col-sm-9 col-lg-10">
    <h2>{{ student.full_name }}</h2>
    <p><strong class="text-primary">Bookmark this page for future reference</strong></p>
    <div class="row box-shadow">
      <div class="col-lg-12">


        <table class="table table-hover table-striped">
          <tr>
            <th width="20%">Sponsor</th>
            <th class="right" width="15%">Amount</th>
            <th class="center" width="10%">Per Lap</th>
            <th class="right" width="15%">Pledged</th>
            <th class="right" width="15%">Collected</th>
            <th class="center" width="10%">Paid</th>
            <th class="center hidden-xs" width="10%">Paid By</th>
          </tr>
          {% for sponsor in student.sponsors.all %}
          <tr>
            <td>{{ sponsor.full_name }}</td>
            <td class="amount">${{ sponsor.donation|floatformat:2|intcomma }}</td>
            <td class="center">{% if sponsor.per_lap %}<strong class="text-primary">Yes</strong>{% else %}No{% endif %}</td>
            <td class="amount">${{ sponsor.total|floatformat:2|intcomma }}</td>
            <td class="amount">{% if sponsor.donated %}${{ sponsor.donated|floatformat:2|intcomma }}{% else %}<span class="text-danger">$0.00</span>{% endif %}</td>
            <td class="center">{% if sponsor.paid %}<strong class="text-success">Yes</strong>{% else %}<strong class="text-danger">No</strong>{% endif %}</td>
            <td class="center hidden-xs">{{ sponsor.paid_by }}</td>
          </tr>
          {% endfor %}
        </table>

        {% if cart.cart.total_quantity %}
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Cart Items</strong></div>
          <div class="panel-body">
            <div class="col-lg-6 table-responsive">
              <form action="/remove-from-cart/" method="post" id="cart_form" role="form" />
                {% csrf_token %}
                <table class="table table-hover table-striped table-condensed">
                  <tr>
                    <th>Description</th>
                    <th class="center">Quantity</th>
                    <th class="amount">Total Price</th>
                    <th class="center">
                      <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info select-all-label">
                          <input type="checkbox" class="select-all-items" name="select-all-items" value="All" />All
                        </label>
                      </div>
                    </th>
                  </tr>
                  {% for item in cart %}
                  <tr>
                    <td>{{ item.product|object_name }}</td>
                    <td class="center">{{ item.quantity }}</td>
                    <td class="amount">${{ item.total_price|floatformat:2|intcomma }}</td>
                    <td class="center"><input type="checkbox" class="remove-item" name="remove-item" id="{{ item.id }}" value="1" /></td>
                  </tr>
                  {% endfor %}
                  <tr class="total">
                    <td class="amount">Total:</td>
                    <td class="center">{{ cart.cart.total_quantity }}</td>
                    <td class="amount">${{ cart.cart.total_price|floatformat:2|intcomma }}</td>
                    <td class="center">
                      <div class="form-group">
                        <input type="submit" class="btn btn-primary remove-items" id="delete" name="delete"  value=" Delete " data-loading-text=" Deleting... " />
                      </div>
                    </td>
                  </tr>
                </table>
              </form>
            </div>
            {% include "include/encrypted-paypal-button.html" %}
          </div>
        </div>
        {% endif %}

        <div class="panel panel-default">
          <div class="panel-heading"><strong>Need to make a payment?</strong></div>
          <div class="panel-body">
            <form id="donation_form" action="/make-payment/{{ student.identifier }}" method="GET" class="form-horizontal" role="form">
              <div class="modal-body">
                <p>Enter the email address you entered when you made your pledge.</p>
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="donation_sponsor"{% if form.donation_sponsor.errors %} class="error"{% endif %}>Email Address:</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="donation_sponsor" name="sponsor" value="" placeholder="email@examples.com" />
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary make-donation" id="submit_donation">Make Payment</button>
              </div>
            </form>
          </div>
        </div>

        {% include "include/donation-form.html" %}
        {% include "include/donation-form-teachers.html" %}
        {% include "include/what-to-do-next.html" %}
      </div>
    </div><!--/row-->
  </div><!--/span-->
{% endblock %}
